@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: var(--color-emerald-400);
}

:root {
  --color-primary: var(--color-emerald-400); /* Tailwind emerald-300 */
}

@layer base {
  button,
  a {
    @apply cursor-pointer;
  }
  *::-webkit-scrollbar {
    /* 전체 스크롤바 영역 (트랙 + 손잡이 포함) */
    @apply w-2 rounded-full cursor-pointer;
  }
  *::-webkit-scrollbar-track {
    /* 스크롤바의 "트랙" — 손잡이가 움직이는 배경 영역 */
    @apply bg-transparent rounded-full cursor-pointer;
  }
  *::-webkit-scrollbar-thumb {
    /* 	실제로 사용자가 드래그하는 "스크롤 손잡이" */
    @apply bg-primary rounded-full cursor-pointer hover:bg-primary/60;
  }
}

@layer components {
  .grayButton {
    @apply p-3 rounded-full  hover:opacity-80 justify-center flex items-center dark:text-gray-800 text-3xl bg-gray-200;
  }
  .ykhInputButton {
    @apply rounded p-4 bg-white w-90 placeholder:text-black outline-none lg:w-120  
    
    dark:placeholder:text-gray-900 dark:text-lime-300 border border-primary dark:border-emerald-100;
  }
  /* global.css 또는 globals.css */
}

@import "../components/post/hseUpPost_FollowBtn.css";
