@import "tailwindcss";

@layer components {
  .upPostInput {
    @apply outline-none min-h-14 bg-white border rounded-lg px-2 py-2 border-gray-400 placeholder:text-gray-500;
  }
  .upPostButton {
    @apply rounded-sm px-2.5 py-1 cursor-pointer hover:shadow-md md:w-24 md:h-10;
  }
  .followButton {
    @apply border-2 border-gray-300 rounded-full px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-400;
  }
  .hsecol {
    @apply flex flex-col;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
